@media (max-width: 1536px){
    .hero_title{
        font-size: 63px;
    }

    .hero_content{
        font-size: 30px;
    }
}

@media (max-width: 1410px){
     .newsletter_subs{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter_button{
        position: static;
    }
}

@media (max-width: 1300px){
    .overlay_description{
        font-size: 14px;
    }

    .overlay_title{
        font-size: 20px;
    }
}


@media (max-width: 1292px){


    .hero_title{
        font-size: 24px;

    }

    .hero_text{
        width: 56%;
        }

    .hero_content{
        font-size: 20px;
        font-weight: 500;
        padding-left: 0;
        padding-top: 5px;

    }
}


@media (max-width : 1166px){
    .hero_section{
        flex-flow: column nowrap;
    }

    .hero_print{
        width: 100%;
    }

    .side_content{
        width: 100%;
        padding: 100px;
    }

    .sc_button{
        width: 30%;
    }

    .product_image img{
        transform: scale(.9);
    }

    .overlay_description{
        padding-bottom: 10px;
    }

    .overlay_buttons{
        padding-top: 8px;
    }

    .product_price div:nth-child(1){
        font-size: 18px;
    }

    .product_price div:nth-child(2){
        font-size: 16px;
    }
}





@media (max-width: 989px){

    .header_parent{
        display: none;
    }

    .secondary_header{
        display: block;
    }

    .carousel_overlay{
        width: 650px;
    }


    .search_section{
        border-top: 1px solid transparent;
    }

    
    .main_title{
        font-size: 40px;
    }

    .secondary_title{
        font-size: 50px;
    }

    .overlay_paragraph{
        font-size: 40px;
    }

    .product_title{
        justify-content: baseline;
    }

    .product_title p:nth-child(2) {
        padding-top: 0;
        font-size: 15px;
    }


    .hero_mockup{
        width: 40%;
    }


    .footer_logo{
        width: 20%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list_parent{
        text-align: center;
        margin-top: 50px;
    }

    .footer_logo img{
        width: 100%;
    }


    .last_column{
        display: none;
    }


    .newsletter{
        margin-top: 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .newsletter_subs{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .input_box{
        width: 100%;
    }

    .newsletter_button{
        position: static;
        margin-top: 5px;
    }

    .product_img{
        width: 75%;
        right: -190px;
    }



}

@media (max-width: 950px){


    .hero_print{
        flex-flow: column nowrap;
    }

     .hero_mockup {
         width: 45%;
         margin-left:55%;
         
     }

}


@media (max-width: 767px){
    .product_image{
        width: 100%;
    }


    .product_image img{
        transform: scale(1);
    }
    
    .hero_text{
        margin-left: 183px;
    }

    .hero_mockup {
        width: 45%;
        margin-left: 35%;
        
    }

    .hero_print{
        background-position: -160px;
    }
}


@media (max-width: 700px){

    .carousel_overlay{
        width: 450px;
        left: 40%;
        top: 50%;
        transform: translate(-40%, -50%);
    }

    .hero_text{
        padding-left:0;

    }


    .hero_mockup{
        width: 45%;
        margin-left: 50%;
    }


    .text_content{
        width: 90%;
    }

    .main_title{
        font-size: 25px;
    }

    .secondary_title{
        font-size: 35px;
    }

    .overlay_paragraph{
        font-size: 25px;
    }

    .product_img{
        width: 100%;
    }

    .product_img img{
        width: 100%;
    }

    .product_title p:nth-child(1) {
        font-size: 20px;
    }

    .product_title p:nth-child(2) {
        padding-top: 0;
        font-size: 15px;
    }

    .product_image{
        width: 100%;
    }

    .sc_button{
        margin-top: 10px;
        width: 65%;
    }



    
}


@media (max-width: 545px){
   
    .sc_text1{
        font-size: 15px;
    }
    
    .sc_text2{
        font-size: 15px;
    }

    .side_content{
        padding: 50px;
    }
}

@media (max-width: 511px){

    .hero_section{
        display: none;
    }

    .carousel_overlay{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .product_img{
        width: 100%;
        position: relative;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -5%);
    }

    .product_img img{

        transform: scale(.9);
    }

    .text_content{
        padding-top: 100px;
        width: 100%;
        text-align: center;
    }
    
    .secondary_title{
        padding-top: 10px;
    }

    .sidenav_active{
        width: 300px;
        visibility: visible;
        opacity: 1;
    }

    .product_image{
        width: 100%;
    }
    

    .news_line1{
        text-align: center;
    }
}
